.navbar {
  display: flex;
  justify-content: flex-end; /* Align items to the right */
  background-color: #292929;
  margin: 0;
  width: 100%;
  padding: 0.5rem;
}

.navbar-item {
  display: inline-block;
  margin-right: 70px; /* Adjust margin-right to control spacing between items */
  list-style-type: none;
  padding-top: 14px;
  color: var(--offWhite);
  font-family: "Quicksand", sans-serif;
  position: relative;
  margin-bottom: 5px;
  margin-top: 5px;
}

  

  .navbar-logout {
    margin-left: auto;
  }
 
  .navbar-item::before {
    content: '';
    display: block;
    height: 5px;
    width: 100%;
    background-color: var(--offWhite);
    position: absolute;
    top: 0;
    width: 0;
  }

  .navbar-item:hover::before {
    width: 100%;
    transition: all ease-in-out 300ms;
  }
  .logout:hover {
    color: #9C0A07;
  }