.navbar {
    /* display: flex;
    flex-wrap: nowrap; */
    background-color: #292929;
    margin: 0;
    width: 100%;
    padding: 0.5rem;
    
    
    
  }

  .navbar-item {
    display: inline-block;
    margin-left: 70px;
    list-style-type: none;
    padding-top: 14px;
    color: var(--offWhite);
    font-family: "Quicksand", sans-serif;
    position: relative;
    margin-bottom: 5px;
    
    
  }

  /* .navbar-link {
    text-decoration: none;
    letter-spacing: 1px;
  } */

  .navbar-logout {
    margin-left: auto;
  }

  /* .navbar-link:hover {
    color: #000;
  } */

  /* .nav-img {
    height: 20px;
    width: 20px;
  } */
 
  .navbar-item::before {
    content: '';
    display: block;
    height: 5px;
    width: 100%;
    background-color: var(--offWhite);
    position: absolute;
    top: 0;
    width: 0;
  }

  .navbar-item:hover::before {
    width: 100%;
    transition: all ease-in-out 300ms;
  }