.navbar {
    display: flex;
    flex-wrap: nowrap;
    background-color: black;
    margin: 0;
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #9C0A07;
  }

  .navbar-item {
    flex-basis: 20%;
    list-style-type: none;
    text-align: center;
    color: var(--offWhite);
    justify-content: space-evenly;
  }

  .navbar-link {
    text-decoration: none;
    font-family: "Quicksand", sans-serif;
    letter-spacing: 1px;
  }

  .navbar-logout {
    margin-left: auto;
  }

  .navbar-link:hover {
    color: var(--primary);
  }

  .nav-img {
    height: 20px;
    width: 20px;
  }

  