.player-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly; 
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    margin: 1rem auto; 
    max-width: 1900px; 
  }
  
  .players {
    flex: 0 0 20%; /* Each player takes up 20% of the container's width */
    margin: 10px;
    padding: 20px;
    background-color: var(--white);
    border: 3px solid #9C0A07;
    border-radius: 10px;
    padding-left: 4px;
    padding-right: 4px;
  }
  
  .player-title {
    margin-bottom: 10px;
    text-decoration: underline;
    font-weight: bolder;
    font-size: larger;
  }
  
  .player-body {
      margin-bottom: 15px;
      
      text-transform: capitalize;
  }
  
  
  
  .player-search {
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
  
  }
  
  
  .player-select, .player-input {
    margin-top: 15px;
    font-size: 1rem;
    border: 2px solid #9C0A07;
    border-radius: 0.25rem;
    margin-left: 40px;
    border-radius: 10px;
    justify-content: right;
    padding: 15px;
  }
  
  .player-h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
    font-size: 50px;
    text-decoration: underline;
    padding: 20px;
    
  }
  
  .filter-bar {
    display: flex;
    flex-direction: column;
    
    /* background-color: #9C0A07;
    border-radius: 10px;
    border-bottom: 3px solid white; */
    
    
  }
  
  .players-info {
    
    font-family: 'Courier New', Courier, monospace;
    text-transform: capitalize;
    font-weight: bolder;
    
  }
  
  .player-header {
    font-size: larger;
    font-weight: bolder;
    justify-content: center;
    text-shadow: white;
  
  }
  
  .player {
    align-items: center;
  }
  
  .btn {
    margin-top: 20px;
  }
  
  .player-title:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }

  .btn-delete {
    background-color: var(--white);
    color: black;
    text-decoration: underline;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    
  }

.player-img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 2px solid black;
    margin-bottom: 20px;
    object-fit: cover;
  }

  .playerdetails-img {
    width: 200px;
    height: 140px;
    float: left;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    border: 1px solid black;
    object-fit: cover;
  }
  .btn-container {
    display: flex;
    flex-direction: column;
    
  }
  .team-hdr {
    font-family: 'Courier New', Courier, monospace;
    font-size: larger;
    font-weight: bolder;
    justify-content: center;
    text-shadow: white;
    margin-top: 20px;
    text-align: center;
    text-shadow:
		-1px -1px 0 #fcf9f9,
		1px -1px 0 #fcf9f9,
		-1px 1px 0 #fcf9f9,
		1px 1px 0 #fcf9f9;
    font-size: 50px;
  }

  .team-img {
    height: 150px;
    width: 200px;
  }
  
  .player-pos {
    font-weight: bold;
    font-size: large;
  }

  .freeagent-btn {
    margin-top: 15px;
    width: 172px;
    height: 58px;
    margin-top: 15px;
    font-size: 1rem;
   
    border-radius: 0.25rem;
    margin-left: 40px;
    border-radius: 10px;
    justify-content: right;
    padding: 15px;
   
  }