.player-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly; 
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    margin: 1rem auto; 
    max-width: 1750px; 
  }
  .team-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly; 
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    margin: 1rem auto; 
    max-width: 1750px; 
    justify-content: center;
    align-items: center;
  }
  
  .players {
    flex: 0 0 18%; /* Each player takes up 20% of the container's width */
    margin: 10px;
    padding: 20px;
    background-color: var(--white);
    border: 3px solid #9C0A07;
    border-radius: 10px;
    padding-left: 4px;
    padding-right: 4px;
    padding-bottom: 20px;
  }
  
  .player-title {
    margin-bottom: 10px;
    text-decoration: underline;
    font-weight: bolder;
    font-size: larger;
  }
  
  .player-body {
      margin-bottom: 15px;
      
      text-transform: capitalize;
  }
  
  
  
  .player-search {
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
  
  }
  
  
  .player-select, .player-input {
    margin-top: 15px;
    font-size: 1rem;
    border: 2px solid #9C0A07;
    border-radius: 0.25rem;
    margin-left: 40px;
    border-radius: 10px;
    justify-content: right;
    padding: 15px;
  }
  
  .player-h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
    font-size: 50px;
    text-decoration: underline;
    padding: 20px;
    
  }
  
  .filter-bar {
    display: flex;
    flex-direction: row;
    margin-left: 40px;
    
    /* background-color: #9C0A07;
    border-radius: 10px;
    border-bottom: 3px solid white; */
    
    
  }
  
  .players-info {
    
    font-family: 'Courier New', Courier, monospace;
    text-transform: capitalize;
    font-weight: bolder;
    
  }
  
  .player-header {
    font-size: larger;
    font-weight: bolder;
    justify-content: center;
    text-shadow: white;
  
  }
  
  .player {
    align-items: center;
  }
  
  .btn {
    margin-top: 20px;
  }
  
  .player-title:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition: all ease-in-out 150ms;
  }

  .btn-delete {
    background-color: var(--white);
    color: black;
    text-decoration: underline;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    
  }

.player-img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 2px solid black;
    margin-bottom: 20px;
    object-fit: cover;
    transition: all ease-in-out 150ms;
  }

  .playerdetails-img {
    width: 220px;
    height: 180px;
    float: left;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    border: 1px solid black;
    object-fit: cover;
    margin-top: 10px;
    border: 2px solid black;
  }
  .btn-container {
    display: flex;
    flex-direction: column;
    
  }
  .team-hdr {
    font-family: 'Courier New', Courier, monospace;
    font-size: 36px; /* Adjust font size to make it visually appealing */
    font-weight: bold;
    text-align: center;
    text-shadow: -1px -1px 0 #fcf9f9, 1px -1px 0 #fcf9f9, -1px 1px 0 #fcf9f9, 1px 1px 0 #fcf9f9;
    margin: 40px 0; /* Adjust margin for spacing */
    padding: 10px; /* Add padding for better readability */
    color: #333; /* Change text color to make it more readable */
    background-color: #f5f5f5; /* Add a background color for contrast */
    border: 2px solid #ccc; /* Add a border for style */
    border-radius: 10px; /* Round the corners */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Add a subtle shadow for depth */
    width: 60%;
    justify-content: center;
    align-items: center;
    
  }

  .team-hdr-container {
    display: flex;
    justify-content: center; /* Horizontally center the header */
    align-items: center; /* Vertically center the header */
    
  }

  .team-img {
    height: 150px;
    width: 200px;
  }
  
  .player-pos {
    font-weight: bold;
    font-size: large;
  }

  .freeagent-btn {
    margin-top: 15px;
    width: 172px;
    height: 58px;
    margin-top: 15px;
    font-size: 1rem;
   
    border-radius: 0.25rem;
    margin-left: 40px;
    border-radius: 10px;
    justify-content: right;
    padding: 15px;
   
  }

  /* .playerdetails-img:hover {
    width: 320px;
    height: 280px;
    border-radius: 10px;
    margin-bottom: 20px;
    border: 3px solid black;
    object-fit: cover;
    animation: tilt-shaking 0.25s infinite;
    transition: all ease-in-out 250ms;
  } */

  .btn-delete:hover {
    transition: all ease-in-out 150ms;
  }

  .teams {
    display: flex;
    flex-direction: column;
    flex: 0 0 18%; /* Each player takes up 20% of the container's width */
    margin: 10px;
    padding: 20px;
    background-color: var(--white);
    border: 3px solid #9C0A07;
    border-radius: 10px;
    padding-left: 4px;
    padding-right: 4px;
    padding-bottom: 20px;
    width: 60%;
    justify-content: center;
    transition: transform 0.1s;
  }

  .pos-hdr {
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px; /* Adjust font size to make it visually appealing */
    font-weight: bold;
    text-align: center;
    margin: 20px 0; /* Adjust margin for spacing */
    text-decoration: underline;
    color:  black; /* Change text color for better readability */
  }
  
  .myplayer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; /* Add some spacing between player cards */
  }
  
  .myplayers {
    flex: 0 0 18%; /* Each player takes up 18% of the container's width */
    margin: 10px;
    padding: 10px;
    /* background-color: #f5f5f5; */
    /* border: 1px solid #ccc; */
    border-radius: 10px;
    text-align: center;
    transition: transform 0.3s;
  }
  
  .myplayers:hover {
    transform: scale(1.05); /* Slightly scale up on hover */
  }
  
  .playersdiv {
    flex: 0 0 calc(50% - 20px); /* Each player takes up about a third of the container's width */
    margin: 10px;
    padding: 20px;
    background-color: #f5f5f5;
    border: 3px solid #9C0A07;
    border-radius: 10px;
    text-align: center;
    transition: transform 0.1s;
    width: 280px;
    height: 300px;
    font-family: 'Courier New', Courier, monospace;
  }
  
  .playersdiv:hover {
    transform: scale(1.01); /* Slightly scale up on hover */
  }
  
  .playersdetail {
    margin: 0 auto; /* Horizontally center the element */
    margin-top: 25px;
    max-width: 50%; /* Adjust to your preferred width */
    padding: 20px;
    background-color: #f5f5f5;
    border: 3px solid #9C0A07;
    border-radius: 10px;
    text-align: center;
  }
  
  .pos-player {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center player details horizontally */
  }