.post-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly; /* Distribute items evenly in rows */
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 1rem auto; /* Center the container horizontally */
    max-width: 1900px; /* Set a maximum width for the container */
  }
  
  .posts {
    flex: 0 0 20%; /* Each post takes up 20% of the container's width */
    margin: 10px;
    padding: 20px;
    background-color: var(--white);
    border: 3px solid #9C0A07;
    border-radius: 10px;
    padding-left: 4px;
    padding-right: 4px;
  }
  
  .post-title {
    margin-bottom: 10px;
    text-decoration: underline;
    font-weight: bold;
  }
  
  .post-body {
      margin-bottom: 15px;
      
      text-transform: capitalize;
  }
  
  
  
  .post-search {
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    /* border: 1px solid var(--outline); */
    border-radius: 0.25rem;
  
  }
  
  
  .post-select, .post-input {
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border: 1px solid var(--outline);
    border-radius: 0.25rem;
    margin-left: auto;
    border-radius: 25px;
  }
  
  .post-h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
    font-size: 50px;
    text-decoration: underline;
    padding: 20px;
    
  }
  
  .filter-bar {
    display: flex;
    flex-direction: row;
  }
  
  .posts-info {
    
    font-family: "Roboto", sans-serif;
    text-transform: capitalize;
    font-weight: bolder;
    
  }
  
  .post-header {
    font-size: larger;
    font-weight: bolder;
    justify-content: center;
    text-shadow: white;
  
  }
  
  .post {
    align-items: center;
  }
  
  .btn {
    margin-top: 20px;
  }
  
  .post-title:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }

  .btn-delete {
    background-color: var(--white);
    color: black;
    text-decoration: underline;
    font-weight: bolder;
  }

.player-img{
    width: 200px;
    height: 150px;
    border-radius: 50%;
    border: 2px solid black;
    margin-bottom: 20px;
  }

  .playerdetails-img {
    width: 200px;
    height: 150px;
    float: left;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 10px;
  }
  .btn-container {
    display: flex;
    flex-direction: column;
  }
  .team-hdr {
    font-size: larger;
    font-weight: bolder;
    justify-content: center;
    text-shadow: white;
    margin-top: 20px;
    text-align: center;
    text-shadow:
		-1px -1px 0 #fcf9f9,
		1px -1px 0 #fcf9f9,
		-1px 1px 0 #fcf9f9,
		1px 1px 0 #fcf9f9;
    font-size: 50px;
  }